[Unit]
Description=Start AutoSSH Tunnel to awful.cloud
Wants=setupgsm.service
After=setupgsm.service testrig.service


[Service]
User=pi
Group=pi
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/scripts/connect.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
